@keyframes dot-breathe {
  0% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.333, 0, 0.412, 0.998);
  }

  46.667% {
    transform: scale(1.662);
    animation-timing-function: cubic-bezier(0.951, -0.004, 0.548, 1.001);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dot-ping-scale {
  0% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.333, 0, 0.667, 1);
  }

  51.667% {
    transform: scale(5);
  }

  100% {
    transform: scale(5);
  }
}

@keyframes dot-ping-opacity {
  0% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.167, 0.167, 0.833, 0.833);
  }

  51.667% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.breathe {
  transform-origin: center;
  animation: dot-breathe 2s linear infinite;
}

.ping {
  transform-origin: center;
  animation:
    dot-ping-scale 2s linear infinite,
    dot-ping-opacity 2s linear infinite;
}
